{{> carrousel}}

<div class="mt-5 animate__animated animate__slideInUp">
    <div class="shadow p-3 bg-body rounded row w-75 position-relative top-100 start-50 translate-middle">
        <div class="col">
            <div class="row">
                <span class="material-icons-outlined">
                    credit_card
                </span>
                <span class="ml-2">
                    <strong>

                        <span class="text-dark">
                            credit card
                        </span>

                    </strong>
                </span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <span class="material-icons-outlined">
                    account_balance
                </span>
                <span class="ml-2">
                    <strong>
                        <span class="text-dark">
                            bank account
                        </span>
                    </strong>
                </span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <span class="material-icons-outlined">
                    done_all
                </span>
                <span class="ml-2">
                    <strong>
                        <span class="text-dark">
                            Pay with cash
                        </span>
                    </strong>
                </span>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <span class="material-icons-outlined">
                    add_circle_outline
                </span>
                <span class="ml-2">
                    <strong>
                        <span class="text-dark">
                            more methods to pay
                        </span>
                    </strong>
                </span>
            </div>
        </div>
    </div>
</div>

{{> products}}
