<nav class="navbar navbar-expand-lg  shadow-sm p-3 mb-2 bg-body rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            Free Mercato
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto" id="options">
                <li class="nav-item" id="menu_login">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="material-icons-outlined">
                            person
                        </span>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/auth/login">login</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/register">register</a>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
</nav>
<script>
    const token = localStorage.getItem('token');
    const user = localStorage.getItem('user');

    if (typeof token !== 'undefined' && token !== null && typeof user !== 'undefined' && user !== null) {
        document.getElementById('options').innerHTML = `
        <li class="nav-item" id="menu_login">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="material-icons-outlined">
                    person
                </span>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="logout">Logout</a>
                </div>
            </a>
        </li>
         <li class="nav-item">
                    <a class="nav-link active" href="/user/my_purchases">Mis compras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/user/order">Mis ordenes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/user/cart">
                        <span class="material-icons-outlined">
                            shopping_cart
                        </span>
                    </a>
        </li>
        `;
        document.getElementById('logout').addEventListener('click', () => {
            localStorage.removeItem('token');
            localStorage.removeItem('user');
            window.location.href = '/auth/login';
        });
    } else {
        document.getElementById('options').innerHTML = `
        <li class="nav-item" id="item_user">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false" id="menu_login">
                        <span class="material-icons-outlined">
                            person
                        </span>
                        <div class="dropdown-menu" >
                            <a class="dropdown-item" href="/auth/login">login</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/auth/register">register</a>
                        </div>
                    </a>
                </li>
        `;
    }

</script>