<div class="container mt-6" style="max-width: 800px;">
    <div class="card">
        <div class="card-content">
            <div class="content">
                <!-- Name input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example1">Nombre</label>
                    <input type="text" id="formName" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Tamaño</label>
                    <select class="form-select" id="formSize" aria-label="Default select example">
                        <option value="1">Pequeño</option>
                        <option value="2">Grande</option>
                        <option value="3">Mediano</option>
                    </select>
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Color</label>
                    <input type="text" id="formColor" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Descripción</label>
                    <textarea class="form-control" id="formDescription" rows="3"></textarea>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Marca</label>
                    <select class="form-select" id="formBranch" aria-label="Default select example">
                        {{#each brands}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Categoria</label>
                    <select class="form-select" id="formCategory" aria-label="Default select example">
                        {{#each product_categories}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Precio</label>
                    <input type="number" id="formPrice" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Cantidad</label>
                    <input type="number" id="formQuantity" class="form-control" defaultValue="1" />
                </div>
                <button type="submit" onclick="createProduct()" class="btn btn-primary btn-block mb-4">Send</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function createProduct() {
        const name = document.getElementById('formName').value;
        const color = document.getElementById('formColor').value;
        const price = document.getElementById('formPrice').value;
        const quantity = document.getElementById('formQuantity').value;
        const size = document.getElementById('formSize').value;
        const brand_id = document.getElementById('formBranch').value;
        const description = document.getElementById('formDescription').value;
        const category_id = document.getElementById('formCategory').value;
        const tok = localStorage.getItem('token');
        const data = {
            name: name,
            color: color,
            price: price,
            quantity: quantity,
            size: size,
            brand_id: brand_id,
            description: description,
            category_id: category_id
        };
        //console.log(data);
        const url = '/supplier/create';
        const method = 'POST';
        const headers = {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${tok}`
        };
        const body = JSON.stringify(data);
        fetch(url, {
            method: method,
            headers: headers,
            body: body
        })
            .then(response => {
                console.log(response);
                if (response.status == 200) {
                    alert('Producto creado correctamente');
                    window.location.href = '/supplier/my_products';
                } else {
                    alert('Error al crear el producto');
                }
            })
            .catch(error => {
                console.log(error);
            });
    }
</script>