<div class="container shadow-lg p-3 mt-6">
    <div class="hero-body">
        <div class="container" style="padding-left: 5%;">
            <h1>mis compras</h1>
            <div class="columns mt-3">
                <div class="column is-12">
                    <div class="card-content">
                        <div class="card-table">
                            <div class="content">
                                <table class="table is-fullwidth is-striped">
                                    <tbody id="T-body">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const tok = localStorage.getItem('token');
    const url = '/payments';
    const data = {
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${tok}`,
        },
    };
    fetch(url, data)
        .then(response => response.json())
        .then(data => {
            const payments = data.payments;
            console.log(payments);
            const body = document.getElementById('T-body');
            payments.forEach(payment => {
                body.innerHTML += `
                 <tr>
                        <td width="5%">
                           <span class="material-symbols-outlined">
                                price_check
                             </span>
                        </td>
                        <td>compra del ${payment.createdAt}</td>
                            <td class="level-right">
                            <a class="button is-small is-primary" href="#">View Purchase</a>
                            </td>
                        </td>
                </tr>`
            });
        }).catch(error => console.log(error));

</script>