<div class="container is-max-desktop mt-6 animate__animated animate__slideInUp box" style="max-width: 800px">
    <form action="/auth/login" method="post">
        <div class="field">
            <div class="container is-max-desktop mt-6 " style="max-width: 700px;">
                <h1 class="title is-1" style="text-align:center">Iniciar sesi칩n</h1>
                <hr>
            </div>
        </div>
        <label for="" class="label">Email</label>
        <div class="control">
            <input type="email" autofocus="true" required="true" name="email" placeholder="Email"
                class="input">
        </div>


        <div class="field">
            <label for="" class="label">Contrase침a</label>
            <div class="control">
                <input type="password" required="true" name="password" class="input" placeholder="Contrase침a"
                    autocomplete="current-password">
            </div>
        </div>

        <div class="container is-half mt-3" style="text-align:center">
            <button class="button is-black">Iniciar sesi칩n</button>
        </div>
    </form>
</div>